@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColor: #0a0a0a;
	--mainColorLight: #2f2e2e;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}

/* ----------------Header section------------------ */
.backP{
  background-image: url("./images/headerP.jpg");
  height: 100vh;
  width: 100vw;
  background-position: cover;
  background-position: relative;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  color: var(--textColor);
  padding: 15px 5%;
}
nav a{
  margin: 0 0.5rem;
  color: var(--textColor);
  text-decoration: none;
}
.socials{
  margin-top: 5px;
  font-size: 30px;
  padding: 14px 30px;
  border-radius: 40px;
  border: none;
  color: var(--textColor);
  margin-right: 20px;
  cursor: pointer;
}
.socials a{
 color: var(--textColor);
}
.socials :hover{
  transform: translateY(20%);
  transition: width 2s, height 2s;
}
.backP h3{
  margin-top: 30px;
}
nav a:hover{
  color: var(--secondaryColor);
}

header .nav-btn{
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}
span{
  color: var(--secondaryColor);
}
.header-text{
  margin-top: 12%;
  font-size: 15px;
  color: var(--textColor);
  padding-left:12rem;
}
.header-text h1{
  font-size: 60px;
  margin-top: 20px;
  font-weight: 700;
}
span{
  color: var(--secondaryColor);
}
button{
margin-top: 20px;
padding: 14px 30px;
background-color: var(--secondaryColor);
border-radius: 40px;
border: none;
color: var(--textColor);
margin-right: 10px;
cursor: pointer;
}
button:hover{
  transform: scale(0.9);
}
.noBackground{
  background-color: transparent;
  color: var(--secondaryColor);
  border: solid 1px;
}

/* -------------Portfolio----------- */
.portfolio-container{
	background-color: var(--textColor);
	height: 100vh;
	width: 100vw;
	background-position: cover;
	background-position: relative;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: var(--textColor);
	padding: 20px 5%;
}
.portfolio-container img{
    height: 100vh;
    width: 100vw;
    background-position: cover;
    background-position: relative;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: var(--mainColor);
    margin-top: 80px;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 30px;
	  height: 40%;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),var(--secondaryColor));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:0 4px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
	  color: var(--textColor);
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: var(--secondaryColor);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #ffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.work:hover{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin:100px auto;
    width: fit-content;
    padding: 14px 50px;
    border-radius: 40px;
    text-decoration: none;
	  background-color: var(--secondaryColor);
    color: var(--textColor);
}
.btn:hover{
   transform: scale(1.1);
}

/*---------------- About me section---------------- */

.card-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: var(--mainColor);
}
.card{
	width: 325px;
	background-color: var(--mainColor);
	overflow: hidden;
	margin: 20px;
	height: 500px;
	margin-top: 7rem;
	margin-bottom: 7rem;
}
.card-content{
	color: var(--textColor);
}

.card-content p{
  margin-top: 20px;
}

.card img{
	width: 100%;
	height: 500px;
	background-position: cover;
  background-position: relative;
  background-size: 100% auto;
  background-repeat: no-repeat;
	border-color: var(--secondaryColor);
	border-style: solid;
}
/* ------------------Contact me --------- */
.FormBackground{
  padding: 20px 5%;
  background-color: var(--mainColorLight);
  display: flex;
	justify-content: center;
	flex-wrap: wrap;
  justify-content: space-evenly;
}
/* form{
  text-align: center;
} */
.FormBackground h1{
  color: var(--secondaryColor);
  font-size: 60px;
  font-weight: 600;
}
form input{
  width: 500px;
  padding: 10px;
  border-radius: 20px;
  border-color: none;
  border-style: none;
 margin-bottom: 20px;
}
form textarea{
  width: 500px;
  height: 200px;
  padding: 10px;
  border-radius: 20px;
  border-color: none;
  border-style: none;
  margin-bottom: 20px;
}
form button{
  display: block;
  margin:10px auto;
  width: fit-content;
  padding: 14px 50px;
  border-radius: 40px;
  text-decoration: none;
  background-color: var(--secondaryColor);
  color: var(--textColor);
}
.form-section{
  margin-top: 60px;
}
.contactmeme{
  color: var(--textColor);
  margin-top: 40px;

}
.contactmeme h2{
  margin-top: 10px;
}
.contact-socials{
  margin-right: 20px;
  margin-bottom: 25px;
  margin-top: 10px;
  font-size: 30px;
}
.contact-socials:hover{
  transform: translateY(20%);
  transition: width 2s, height 2s;
}
.contact-socials a{
  color: var(--textColor);
}
.slide-left{
  margin-left: 50px;
}
/* ----------------------------- */
@media only screen and (max-width:1024px) {

  /* ----------------------Header Section------------------ */
  .backP{
		background-image: url("./images/headerP.jpg");
		height: 100vh;
		width: 100vw;
		background-position: cover;
		background-position: relative;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
  header .nav-btn{
    visibility: visible;
    opacity: 1;
  }
  header nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;  
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    transition: 1s;
    background-color: var(--mainColor);
    transform: translateY(-100vh);
    flex-direction: column;
  }

  header .responsive_nav{
    transform: none;
  }

  nav .nav-close-btn{
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a{
    font-size: 1.5rem;
  }

  .header-text{
		margin-top: 15%;
		font-size: 10px;
		color: var(--textColor);
		padding-left:2rem;
	}
	.header-text h1{
		font-size: 30px;
		margin-top: 5%;
	}
	.header-text h1 span{
		color: var(--secondaryColor);
	}
	button{
		margin-top: 40px;
	}
  
  /* ----------Portfolio----------- */

  .work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
	  height: 40%;
}

  .portfolio-container{
	  background-color: var(--textColor);
		height: 100%;
		width: 100vw;
		background-position: cover;
		background-position: relative;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

  .work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }
  .work img{
      width: 100%;
      height: 500px;
      border-radius: 10px;
      display: block;
      transition: transform 0.5s;
  }
  .work:hover{
    transform: scale(1.0);
  }
  .work:hover .layer{
      height: 100%;
  }

  /* ------------About me ----------- */
  .card-content{
    color: var(--textColor);
 
  }
  .card{
    margin-bottom: 10px;
  }
  /* --------------------cantact me--------- */
  .form-section{
    width: 500px;
  }
  form{
    text-align: center;
  }
  form input{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border-color: none;
    border-style: none;
   margin-bottom: 20px;
  }
  form textarea{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border-color: none;
    border-style: none;
   margin-bottom: 20px;
  }
  form button{
    display: block;
    margin:10px auto;
    width: fit-content;
    padding: 14px 50px;
    border-radius: 40px;
    text-decoration: none;
    background-color: var(--secondaryColor);
    color: var(--textColor);
  }

}